
.customers-btn {
	border: 1px solid #c9af98;
	border-radius: 5px;
	background-color: #efefef;
	color: #c9af98;
	padding: 8px 20px;
	transition: .4s;
}

.customers-btn:hover {
	text-decoration: none;
	color: #fff;
	background: #ded2c8;
}
