<div class="row">
	<div class="about-box">
		<div class="title-border">
			<h2>ABOUT</h2>
		</div>

		<p class="about-text top">
			ながのCakeは全国発送可能なケーキ屋さんです。<br>
			お子様からお年寄りの方までお召し上がりいただけるよう、<br>
			様々なバリエーションをご用意しております。
		</p>

		<div class="ex1 scroll-fade-row">
		    <div class="sweet1"></div>
		    <div class="sweet2"></div>
		    <div class="sweet3"></div>
		    <div class="sweet4"></div>
		    <div class="sweet5"></div>
		</div>

		<p class="about-text bottom">
			また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
			是非ご注文ください。
		</p>

		<img src="/assets/logo.png" width="300" height="300" >
	</div>
</div>