<div class="row">
	<h2>注文情報確認</h2>
	<div class="col-xs-9">
		<table class="table table-bordered">
			<thead>
				<tr class="info">
					<th>商品名</th>
					<th>単価（税込）</th>
					<th>数量</th>
					<th>小計</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>ケーキ</td>
					<td>2000</td>
					<td>2</td>
					<td>4000</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-xs-3">
		<table class="table table-bordered">
			<tr>
				<th class="info">送料</th>
				<td>800</td>
			</tr>
			<tr>
				<th class="info">商品合計</th>
				<td>4800</td>
			</tr>
			<tr>
				<th class="info">請求金額</th>
				<td>4800</td>
			</tr>
		</table>
	</div>
	<div class="confirm-box">
		<h3><strong>支払方法</strong></h3>
		<p>クレジットカード</p>
	</div>
	<div class="confirm-box">
		<h3><strong>お届け先</strong></h3>
			<%= @order.post_code %>
			<%= @order.address %>
			<%= @order.name %>
	</div>
	<div class="text-center">
		<%= link_to public_order_complete_path do%>
			<p class="btn btn-success btn-lg">購入を確定する</p>
		<% end %>
	</div>
</div>